#footer {
    background-color: #d4ad76;
    background: url(http://fimo.edu.vn:7777/wp-content/themes/kriya/images/parallax-decor-fit.png);
    background-size: cover;
}
.footer-widgets {
    background: rgba(212,173,118, 0.65) url(http://fimo.edu.vn:7777/wp-content/uploads/2016/07/pattern-grudge.png) top left repeat !important;
    /* opacity: 0.5; */
}