.fimo_menu_class {
    #menu-fimo-menu {
        padding-right: 10px;
        text-align: right;
        li {
            float: none;
            display: inline-block;
            text-align: center;
            line-height: 24px;
            position: relative;
            margin: 0;
            padding: 0;
            a {
                font-family: Overlock;
                font-weight: bold;
                font-size: 18px;
                padding: 0 18px;
                letter-spacing: 0;
                float: left;
                line-height: 100px;
                position: relative;
                &::before {
                    width: 100%;
                    transition-duration: 0.4s;
                    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36,1);
                    border-color: #ffda6b;
                    right: 0;
                    transition: all 0.2s ease 0s;
                }
                &:hover {
                    color: #ffda6b;
                }
            }
            .sub-menu {
                display: none;
            }
        }
        li.current-menu-item > a {
            color: #ffda6b;
        }
    }
}

.split-header #main-menu .menu-left, .split-header #main-menu .menu-right {
    width: initial;
}
.split-header.boxed-header #slider {
    padding: 0;
}
.split-header.boxed-header #slider .dt-sc-main-slider > div {
    border-color: transparent !important;
    border: none;
}
.split-header .menu-wrapper, .split-header #main-menu {
    //width: 91%;
    //margin: 0;
}

@media (max-width: 991px) and (min-width: 768px){
    #logo {
        //margin-left: -15px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .split-header #main-menu .menu-left, .split-header #main-menu .menu-right {
        width: 100% !important;
    }
}


//#main-header-wrapper {
//    .main-header {
//        .menu-wrapper {
//            position: relative;
//            padding-bottom: 100px;
//
//            #main-menu {
//                position: absolute;
//                z-index: 10000;
//                float: right;
//                right: 0;
//            }
//        }
//    }
//}

@media (min-width: 768px) {
    .split-header .menu-wrapper, .split-header #main-menu {
        width: initial;
        /* margin: 0; */
    }
}